<div class='nav'>
    <ul class='wrap'>
        <li><b><a href='{{ site.baseurl }}/' style="font-size:20px; color:black; padding-right: 350px"; class="split">Krunal Kshirsagar </a></b></li>
        <!---<li><a href='{{ site.baseurl }}/'><img src="{{ site.baseurl }}/images/home-logo-1.svg" alt="Home" style="width:20px;height:20px;"></a></li>--->
        <li><a href='{{ site.baseurl }}/about'><img src="{{ site.baseurl }}/images/about-logo.svg" alt="About" style="width:20px;height:20px;"></a></li>
        <li><a href="https://github.com/ksheersaagr"><img src="{{ site.baseurl }}/images/github-logo.svg" alt="Github" style="width:20px;height:20px;"></a></li>
        <li><a href="https://www.linkedin.com/in/krunal-kshirsagar/"><img src="{{ site.baseurl }}/images/linkedin-logo.svg" alt="Linkedin" style="width:20px;height:20px;"></a></li>
        <li><a href="mailto:krunalkshirsagar29@gmail.com"><img src="{{ site.baseurl }}/images/mail-logo.svg" alt="Mail" style="width:20px;height:20px;"></a></li>
        <!----------------------------------------------------------------
        <li><a href="https://twitter.com/iamkshirsagar"><img src="{{ site.baseurl }}/images/twitter-logo.svg" alt="Twitter" style="width:20px;height:20px;"></a></li>
        <li><a href="https://www.instagram.com/noobvoxels"><img src="{{ site.baseurl }}/images/instagram-logo.svg" alt="Instagram" style="width:20px;height:20px;"></a></li>
        --->
    </ul>
</div>
